body {
    --color1: hsla(0, 100%, 50%, 1);
    --color2: hsla(0, 100%, 40%, 1);
    --color3: hsla(233, 57%, 51%, 1);
    --color4: hsla(52, 100%, 50%, 1);
    --color5: hsla(52, 66%, 42%, 1);
    
    --height: 30px;
    --footer-height: 25px;
    
    font-family: 'Press Start 2P', cursive;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gif {
    max-width: 80%;
    height: auto;
}

h1 {
    font-size: 2rem;
    padding-top: 30px;
    color: var(--color3);
}

h2 {
    padding: 20px;
}

a {
    color: white;
}

section {
    background-color: white;
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--height);
    padding-bottom: var(--height);
    margin-top: var(--height);
    margin-bottom: var(--height);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

#start-bar {
    position: fixed;
    bottom: 0;
    background-color: var(--color3);
    border: solid 2px var(--color4);
}
